<div class="fx-layout-row">    
    <span class="fx-flex--65" class="video-detail">
        <div><app-video-player *ngIf="videoAvailable" [videoUrl]="videoUrl"></app-video-player>
            <div class="mat-title">{{videoTitle}}
                <div class="fx-layout-row">
                    <span class="fx-flex--50">
                        <div>3rd 2023</div>
                        <div>{{videoDescription}}</div>                   
                    </span>
                    <span class="fx-flex--50">
                        
                    </span>
                </div>
    
            </div>
        
        </div>
        
       
    <span class="fx-flex--5"></span>
    <span class="fx-flex--30">Suggestion</span>
